*{
    margin:0px;
    padding: 0px;
}
:root{
    --dark:black;
    --light:white;
}
body{
    background-image:url(../img/login_img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.firstnav{
    font-size: 1.4rem;
}
.navbar{
    height: 40px;
    width: 100%;
    position: absolute;
    background-color: var(--dark);
    padding: 10px 0px 10px 0px;
}
.navdiv{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: var(--dark);
}
li{
    list-style: none;
    display: inline-block;
    margin-top: 15px;

}
li a{
    color: var(--light);
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 30px;
    margin-top: 20px;
    text-decoration: none;
}
.navdiv button{
    padding: 3px 5px 3px 5px;
    background-color:var(--light);
    border-radius: 3px;
    border: none;
    margin-right: 10px;
}
.navdiv button a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.navbar .navdiv .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar .navdiv .logo img{
    width: 50px;
    height: 50px;
}
.login{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:440px;
    width: 400px;
    border: 2px solid gray;
    position: absolute;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: transparent;
    font-weight: bolder;
    box-shadow: 0 0 30px;
    visibility: visible;
    transition: transform .5 ease,height .2s ease;
}
.open-popup{
    visibility: visible;

}
.close-popup{
    visibility: hidden;
}
.login h2{
    margin-left: 160px;
    margin-top: 60px;
}
.loginform{
    color:var(--light);
    margin-top:50px;
    margin-left:80px;
    font-size: 18px;
}
.loginform input{
    align-items: center;
    margin:0px 0px 20px 0px;
}
.submit{
    margin-top:30px;
    margin-left: 80px;
    padding: 3px 4px;
    height:30px;
    width: 250px;
    border-radius:5px;
    background:rgb(60,60,60);
    border: 1px solid black;
    color: var(--light);
}
.rem{
    color:var(--dark);
    padding-top: 10px;
    font-size:15px;
    font-weight:smaller;
}
#for{
    text-decoration: none;
    color:var(--dark);
    font-size: 15px;
    margin-left: 20px;
    font-weight:smaller;

}
#dont{
    color: var(--dark);
    margin-left: 80px;
    margin-top:20px;
    font-size: 15px;
}
#create{
    color: var(--dark);
    float:right;
    text-decoration: none;
    margin-top:-19px;
    margin-right: 70px;
}
#closeButton{
    position: absolute;
    left:380px;
    top:5px;
}
.input .box{
    height: 25px;
    width:70%;
}